

<h1 style="text-align: center;">Food delivery App</h1>

<div class ="icons">
<img src="./assets/images/menu.png" width="50px" height="50px" [ngClass]="menuList ? 'selectedImage' : 'images'" (click)="menuList = true; cartList = false; orderList= false;">
<div class="item">
        <span class="notify-badge" *ngIf="badgeLength">{{badgeLength}}</span>
        <img src="./assets/images/cart.png" width="50px" height="50px" [ngClass]="cartList ? 'selectedImage' : 'images'" (click)="cartList = true; menuList = false; orderList= false;">
   </div>
<img src="./assets/images/order.png" width="50px" height="50px" [ngClass]="orderList ? 'selectedImage' : 'images'" (click)="orderList = true; menuList = false; cartList = false;">
</div>

<div style="text-align: center;">
<app-menu-list *ngIf="menuList" (badgeEvent)="badgeValue($event)"></app-menu-list>
<app-cart-list *ngIf="cartList" (badgeEvent)="badgeValue($event)"></app-cart-list>
<app-order-list  *ngIf="orderList"></app-order-list>
</div>
