.errorMsg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background: lightgrey;
    color: darkred;
    border-radius: 10px;
}